<!DOCTYPE html>
<html>
<head>
  <title>MyAwesomeProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  "This is a navbar"
</nav>
<%= yield %>

</body>
</html>
